%table.table.table-striped
  %thead
    %tr
      %th= han :favorite_page, :id
      %th= han :favorite_page, :title
      %th= han :favorite_page, :created_at
      %th= han :favorite_page, :updated_at
      %th= 'Details'
  %tbody
    - @favorite_pages.each do |page|
      %tr
        %td= page.id
        %td= page.title
        %td= page.created_at
        %td= page.updated_at
        %td
          = link_to 'edit', [:edit, page]
          = link_to 'destroy', page, method: :delete, data: { confirm: 'sure?' }
