.page-header
  %h1= @favorite_page.title

  %ul.list-inline.text-muted
    %li= @favorite_page.published_at.to_date.to_s :long
    %li
      from
      = link_to @favorite_page.host, @favorite_page.url, target: '_blank'
    - if signed_in?
      %li= link_to 'delete', favorite_page_path(@favorite_page), method: :delete, data: { confirm: "Are you sure?" }

!~ @favorite_page.content

= render 'web/shared/disqus'
