= simple_form_for post, url: url, method: method do |f|
  = f.input :title
  = f.input :content, as: :editor
  = f.input :similar_query, as: :text

  .form-actions
    = f.button :submit, action, class: 'btn-primary'
    = link_to t('cancel'), { action: :index }, class: 'btn'
