%table.table.table-striped
  %thead
    %tr
      %th= han :post, :id
      %th= han :post, :title
      %th= han :post, :created_at
      %th= han :post, :updated_at
      %th= 'Details'
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.id
        %td= post.title
        %td= post.created_at
        %td= post.updated_at
        %td
          = link_to 'edit', [:edit, post]
          = link_to 'destroy', post, method: :delete, data: { confirm: 'sure?' }
