.page-header
  %h1= @post.title

  %ul.list-inline.text-muted
    %li= l @post.published_at.to_date, format: :long
    - if signed_in?
      %li= link_to 'edit', edit_post_path(@post)
      %li= link_to 'delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?" }
~ markdown @post.content

- @materials.each do |m|
  = render "web/shared/search_result/#{m.type}", object: m

= render 'web/shared/disqus'
